In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import matplotlib as mpl

In [9]:
# import matplotlib as mpl
# mpl.use("pgf")
# plt.rcParams.update({
#     "pgf.texsystem": "pdflatex",
#     "font.family": "serif",
#     "font.serif": "Times New Roman"
# })
# plt.rcParams['text.usetex'] = True

In [63]:
input_df = pd.read_csv("../../../../data/downsampled_data_all_columns.csv")

In [64]:
input_df.head()

,PromptTokens,DecodeTokens,UserID,TIMESTAMP,app,input_99_app,output_99_app,sys_99_app,llmcalls,llmcalls_made,...,input_avg_app,output_avg_app,sys_avg_app,input_min_app,output_min_app,sys_min_app,input_max_app,output_max_app,sys_max_app,ArrivalTime
0,1422,143,11213,2024-09-04 06:00:00,0,25779.0,523.0,0,1.0,0.0,...,4489.778352,212.825453,0,402.0,11.0,0,35233.0,1200.0,0,0
1,23843,455,44736,2024-09-04 06:00:00,17,24866.0,590.0,0,1.0,0.0,...,5770.743586,57.641191,0,289.0,0.0,0,116005.0,2049.0,0,0
2,4252,62,327626,2024-09-04 06:00:00,17,24866.0,590.0,0,12.0,0.0,...,5770.743586,57.641191,0,289.0,0.0,0,116005.0,2049.0,0,0
3,5854,14,325465,2024-09-04 06:00:00,17,24866.0,590.0,0,4.0,0.0,...,5770.743586,57.641191,0,289.0,0.0,0,116005.0,2049.0,0,0
4,4828,6,326690,2024-09-04 06:00:00,17,24866.0,590.0,0,4.0,0.0,...,5770.743586,57.641191,0,289.0,0.0,0,116005.0,2049.0,0,0

In [65]:
input_df.columns

Index(['PromptTokens', 'DecodeTokens', 'UserID', 'TIMESTAMP', 'app',
       'input_99_app', 'output_99_app', 'sys_99_app', 'llmcalls',
       'llmcalls_made', 'interaction_id', 'input_avg_app', 'output_avg_app',
       'sys_avg_app', 'input_min_app', 'output_min_app', 'sys_min_app',
       'input_max_app', 'output_max_app', 'sys_max_app', 'ArrivalTime'],
      dtype='object')

In [9]:
import random

In [96]:
fig = plt.figure(figsize=(6, 5))
# colors = ["#{:06x}".format(random.randint(0, 0xFFFFFF)) for _ in range(input_df["app"].nunique())]
itr = 0

apps = input_df["app"].unique()
# apps = [2, 11, 14]

for app in apps:
    df = input_df.loc[input_df["app"] == app]
    plt.scatter(df["PromptTokens"], df["DecodeTokens"], s=1, c=colors[itr], alpha=1)
    itr += 1
plt.xlim(0, 16000)
plt.ylim(0, 1000)
# plt.savefig("tmp.pdf")
plt.xlabel("Prompt Length", fontsize=16)
plt.ylabel("Decode Length", fontsize=16)
plt.xticks(fontsize=12)
plt.yticks(fontsize=14)
fig.tight_layout()
plt.savefig("input_output_distribution.png", dpi=300)
plt.close(fig)

In [54]:
input_df["app"].value_counts()

app
17    4680
7      971
21     652
8      546
2      448
5      409
9      348
14     309
10     250
3      226
18     193
19     185
23     149
22     130
11     119
6       83
16      71
0       63
1       58
15      49
13      31
20      26
12       4
Name: count, dtype: int64

In [62]:
fig = plt.figure(figsize=(6, 5))
# colors = ["#{:06x}".format(random.randint(0, 0xFFFFFF)) for _ in range(input_df["app"].nunique())]
itr = 0

apps_to_plot = [7, 21, 17]

for app in apps_to_plot:
    df = input_df.loc[input_df["app"] == app]
    plt.scatter(df["PromptTokens"], df["DecodeTokens"], s=5, c=colors[itr], label=f"Application {app}")
    itr += 1
# plt.xlim(0, 4000)
# plt.ylim(0, 500)
plt.legend()
# plt.savefig("tmp.pdf")
plt.xlabel("Prompt Length", fontsize=16)
plt.ylabel("Decode Length", fontsize=16)
plt.xticks(fontsize=12)
plt.yticks(fontsize=14)
fig.tight_layout()
plt.savefig("input_output_distribution_applications.png", dpi=300)
plt.close(fig)

In [33]:
df = pd.read_csv("../../../../workloadawarerouting/data/mixed_dataset_with_predictions.csv")

In [34]:
df.head()

,Unnamed: 0,Prompt,Source,TaskType,Response,ResponseLength,RequestLength,Bucket,Predictions
0,0,I rented I AM CURIOUS-YELLOW from my video sto...,0,0,<br /><br />I AM CURIOUS-YELLOW is a good film...,121,304,0,0
1,1,"""I Am Curious: Yellow"" is a risible and preten...",0,0,"""I Am Curious: Yellow"" is a risible and prete...",145,230,1,0
2,2,If only to avoid making this type of film in t...,0,0,I'm not sure what the point of this movie was...,165,109,1,0
3,3,This film was probably inspired by Godard's Ma...,0,0,This film was probably inspired by Godard's M...,117,134,0,0
4,4,"Oh, brother...after hearing about this ridicul...",0,0,"<br /><br />""I am Curious, Yellow is a film th...",191,327,1,0

In [35]:
df = df[["RequestLength", "ResponseLength", "TaskType"]]
df.describe()

       RequestLength  ResponseLength      TaskType
count   45918.000000    45918.000000  45918.000000
mean      139.444597      174.616033      2.196655
std       287.402185      329.111788      1.505254
min         1.000000        0.000000      0.000000
25%        22.000000       34.000000      1.000000
50%        55.000000       82.000000      2.000000
75%       147.000000      175.000000      3.000000
max      3448.000000     2588.000000      5.000000

In [48]:
fig = plt.figure(figsize=(6, 5))
colors = ["#{:06x}".format(random.randint(0, 0xFFFFFF)) for _ in range(input_df["app"].nunique())]
itr = 0

task_labels = ["IMDb", "WNUT", "SQuAD", "Eli5 Reddit", "Books", ".."]

for app in df["TaskType"].unique():
    if app == 5:
        continue
    df_here = df.loc[df["TaskType"] == app]
    plt.scatter(df_here["RequestLength"], df_here["ResponseLength"], s=0.1, c=colors[itr], label=task_labels[itr])
    itr += 1

# plt.xlim(0, 2000)
# plt.ylim(0, 2000)
plt.legend(fontsize=16)
plt.xlabel("Prompt Length", fontsize=16)
plt.ylabel("Decode Length", fontsize=16)
plt.xticks(fontsize=12)
plt.yticks(fontsize=14)
fig.tight_layout()
plt.savefig("promtp_decode_distribution.png", dpi=300)
plt.close(fig)

In [ ]:
plt